<div class="formContainer w-100 p-4 d-flex justify-content-left">
    <%= form_for current_usuario, html: {class:"col-12 col-md-5 p-5 rounded-2"} do |f| %>

        <h2 class="mb-4">Editar perfil</h2>
        <%= render "devise/shared/error_messages", resource: current_usuario%>

        <div class="field">
            <%= f.label :fullname, "Nombre completo" %>
            <%= f.text_field :fullname, autocomplete: "fullname", class: "form-control my-2"%>
        </div>

        <div class="field">
            <%= f.label :dni, "Documento" %>
            <%= f.number_field :dni, autocomplete: "dni", class: "form-control mb-2"%>
        </div>

        <div class="field">
            <%= f.label :birthdate, "Fecha de nacimiento" %>
            <%= f.date_field :birthdate, max: Date.today, min: Date.new(Date.today.year-100, Date.today.month, Date.today.day), autocomplete: "birthdate", class: "form-control mb-2"%>
        </div>

        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autocomplete: "email", class: "form-control mb-2"%>
        </div>

        <div class="field">
            <%= f.label :license_expiration_date, "Fecha de vencimiento de la licencia" %>
            <%= f.date_field :license_expiration_date, autocomplete: "license_expiration_date", class: "form-control mb-2"%>
        </div>

        <div class="field">
            <%= f.label :license, "Licencia de conducir", class: " col-12"%>
            <%= image_tag current_usuario.license, class: "img-thumbnail col-12" if current_usuario.license.attached?%>
            <p>¿Desea actualizar su licencia de conducir?</p>
            <%= f.file_field :license, autofocus: true, autocomplete: "license", class: "form-control mb-2"%>
        </div>

        <p class="notice", style="color:#F5BF69;"><%= notice %></p>

        <div class="actions">
            <%= f.submit "Guardar cambios", :class=>"btn btn-outline-warning my-4" %>
        </div>

    <% end %>
</div>