<% if notice == "Cuenta creada satisfactoriamente" %>
    <p class="notice alert alert-warning"><%= notice %></p>
<% end %>
<% if usuario_signed_in? && (current_usuario.administrador? || current_usuario.supervisor?) %>
    <% if current_usuario.administrador? %>
        <div class="generico">
            <p>Soy admin 😎</p>
            <% @supervisors=Usuario.where(role:1) %>
            <h1>Tabla de supervisores</h1>
                <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ver detalles</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <% @supervisors.each do |supervisor| %>
                        <tr>
                            <td><%= supervisor.fullname %></td>
                            <td><%= link_to "Perfil", supervisor, class: "btn btn-warning" %></td>
                            <td><%= link_to "Editar", edit_usuario_path(supervisor), method: :update, class: "btn btn-dark" %></td>
                            <td><%= link_to "Eliminar",supervisor, class: "btn btn-danger" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= button_to "Agregar supervisor", usuario_path, method: :create, :class => 'btn btn-warning'  %>
            <%= button_to "Cerrar sesion", destroy_usuario_session_path, method: :delete, :class => 'btn btn-warning'  %>
        </div>
    <% else %>
        <p>Soy supervisor</p>
        <div class="generico">
            <%= button_to "Cerrar sesion", destroy_usuario_session_path, method: :delete, :class => 'btn btn-warning'  %>
        </div>
    <% end %>
<%else %>
    <!-- Usuario cliente o invitado -->
    <div class="dropdown g-4 px-5 py-2">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar por
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to "Menor capacidad", :sort => "capacity", :value => "less"%></li>
            <li><%= link_to "Mayor capacidad", :sort => "capacity", :value => "more"%></li>
            <li><%= link_to "Menor distancia", :sort => "proximity", :value => "less"%></li>
            <li><%= link_to "Mayor distancia", :sort => "proximity", :value => "more"%></li>
        </ul>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4 p-5">
        <% @vehiculos.each do |vehiculo| %>     
            <div class="col">
                <div class="card h-100">
                    <%= image_tag vehiculo.image, class: "img-thumbnail col-12" if vehiculo.image.attached?%>
                    <div class="card-body">
                        <h5 class="card-title"><%= vehiculo.brand %> <%= vehiculo.model %></h5>
                        <p class="card-text">Capacidad: <%= vehiculo.capacity %></p>
                        <p class="card-text">Proximidad: <%= vehiculo.proximity %>m</p>
                        <%= link_to "Ver en detalle", vehiculo_path(vehiculo), :class => 'btn btn-warning'  %>
                    </div>
                </div>
            </div>   
        <% end %>
    </div>
<% end %>


