<% if ((notice == "Cuenta creada satisfactoriamente")||(notice == "Supervisor creado satisfactoriamente")||(notice == "El supervisor fue eliminado")||(notice == "El supervisor fue actualizado")||(notice == "Alquiler cancelado. Se le devolverá su dinero")||(notice == "Los precios fueron actualizados")||(notice == "Alquiler finalizado con exito")) %>
    <p class="notice alert alert-warning"><%= notice %></p>
<% end %>

<% if usuario_signed_in? && (current_usuario.administrador? || current_usuario.supervisor?) %>
    <% if current_usuario.administrador? %>
        <div class="g-4 p-5">
            <h2>Tabla de precios actuales</h2>
            <button type="button" class="btn btn-warning my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar precios</button>
            <table class="table table-bordered w-50">
                 <thead>
                    <tr>
                        <th scope="col">Tarifa</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col"><%= @tarifa.rent_name %></th>
                        <td scope="col">$<%= @tarifa.rent_price %></th>
                    </tr>
                    <tr>
                        <td scope="col"><%= @tarifa.extension_name %></th>
                        <td scope="col">$<%= @tarifa.extension_price %></th>
                    </tr>
                    <tr>
                        <td scope="col"><%= @tarifa.penalty_name %></th>
                        <td scope="col">$<%= @tarifa.penalty_price %></th>
                    </tr>
                    <tr>
                        <td scope="col"><%= @tarifa.gas_name %></th>
                        <td scope="col">$<%= @tarifa.gas_price %></th>
                    </tr>
                </tbody>
            </table>
            <% @supervisors=Usuario.where(role:1) %>
            <h2>Tabla de supervisores</h2>
            <%= link_to "Agregar supervisor", new_supervisor_path, :class => 'btn btn-warning my-3'  %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% @supervisors.each do |supervisor| %>
                        <tr>
                            <td><%= supervisor.fullname %></td>
                            <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <%= link_to "Ver", supervisor_path(supervisor), class: "btn btn-success" %>
                                <%= link_to "Editar", edit_supervisor_path(supervisor), class: "btn btn-warning" %>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_<%=supervisor.id%>">Eliminar</button>
                            </div>
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModal_<%=supervisor.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar a <%= Usuario.find(supervisor.id).fullname %></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Esta seguro que desea eliminar este supervisor?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <%= button_to "Eliminar",supervisor_path(Usuario.find(supervisor.id)), method: :delete, class: "btn btn-danger" %>
                                </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar precios</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <%= form_for @tarifa, url: rate_path(@tarifa) do |f| %>
                        <div class="modal-body">
                            <div class="field">
                                <%= f.label @tarifa.rent_name %>
                                <%= f.number_field :rent_price, class: "form-control mb-2" %>
                            </div>
                            <div class="mb-3">
                                <%= f.label @tarifa.extension_name %>
                                <%= f.number_field :extension_price, class: "form-control mb-2"%>
                            </div>
                            <div class="mb-3">
                                <%= f.label @tarifa.penalty_name %>
                                <%= f.number_field :penalty_price, class: "form-control mb-2" %>
                            </div>
                            <div class="mb-3">
                                <%= f.label @tarifa.gas_name %>
                                <%= f.number_field :gas_price, class: "form-control mb-2" %>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <%= f.submit "Guardar cambios", :class=>"btn btn-outline-warning" %>
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                        
                    <% end %>
                </div>
            </div>
        </div>

        <div class="g-4 p-5">
        <h2>Tabla de administradores</h2>
        <%= link_to "Agregar administrador", new_administrador_path, :class => 'btn btn-warning my-3'  %>
        <% @administradors = Usuario.all.where(role: 2).where.not(id: current_usuario.id) %>
        <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% @administradors.each do |administrador| %>
                        <tr>
                            <td><%= administrador.fullname %></td>
                            <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                               <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_<%=administrador.id%>">Eliminar</button>
                            </div>
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModal_<%=administrador.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar a <%= Usuario.find(administrador.id).fullname %></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Esta seguro que desea eliminar este administrador?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <%= button_to "Eliminar",administrador_path(Usuario.find(administrador.id)), method: :delete, class: "btn btn-danger" %>
                                </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% else %>
        <!-- Supervisor -->
        <div class="row row-cols-1 row-cols-md-5 g-0 p-2 mb-5">
            <% @usuarios.each do |usuario| %>   
                <% if !(usuario.administrador? || usuario.supervisor?) %>  
                    <div class="col g-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><%= usuario.fullname %></h5>
                                <p class="card-text mb-0">DNI <%= usuario.dni %></p>
                                <%= link_to "Ver en detalle", usuario_path(usuario), :class => 'btn btn-warning mt-3'  %>
                             </div>
                        </div>
                    </div>   
                <% end %>
            <% end %>
        </div>
    <% end %>
<%else %>
    <!-- Usuario cliente no validado -->
    <% if usuario_signed_in? && !(current_usuario.validated?) %>
    <h2>Su cuenta está en espera para ser validada, ingrese más tarde</h2>
    <% else %>
    <!-- Usuario cliente o invitado -->

    <!-- Si hay un alquiler en curso se muestra un alert -->
    <% if usuario_signed_in? %>
        <% @alquiler = Alquiler.where(user_id: current_usuario.id).last %>
        <% if(!@alquiler.nil?) %>
                <% if(@alquiler.status == "en_curso") %>
                    <p class="notice alert alert-warning">Actualmente tiene un alquiler en curso. Seleccione "Ver mi estado" en el menú de usuario para más información.</p>
                <% end %>
        <% end %>

    <% end %>

    <div id="map" style="height:400px"></div>

    <script>
        url = [];
    </script>

    <div class="dropdown g-4 px-5 py-2">
        <a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar por
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to "Menor capacidad", root_path(sort:"capacity", value: "less"), class: "dropdown-item"%></li>
            <li><%= link_to "Mayor capacidad", root_path(sort:"capacity", value: "more"), class: "dropdown-item"%></li>
            <li><%= link_to "Menor distancia", root_path(sort:"proximity", value: "less"), class: "dropdown-item"%></li>
            <li><%= link_to "Mayor distancia", root_path(sort:"proximity", value: "more"), class: "dropdown-item"%></li>
        </ul>
    </div>

    <div class="row row-cols-1 row-cols-md-5 g-4 p-5">
        <% @vehiculos.each do |vehiculo| %>   
        <script>
            url.push({
                'latitude':'<%= vehiculo.latitude %>', 
                'longitude':'<%= vehiculo.longitude %>',
                'tooltip': '<%= vehiculo.brand %> <%= vehiculo.model %>'
            })
        </script>  
            <div class="col">
                <div class="card h-100">
                    <%= image_tag vehiculo.image, class: "img-thumbnail col-12" if vehiculo.image.attached?%>
                    <div class="card-body">
                        <h5 class="card-title"><%= vehiculo.brand %> <%= vehiculo.model %></h5>
                        <p class="card-text">Capacidad: <%= vehiculo.capacity %></p>
                        <p class="card-text">Proximidad: <%= vehiculo.proximity %>m</p>
                        <div class="row">
                            <%= link_to "Ver en detalle", vehiculo_path(vehiculo), :class => 'btn btn-warning col-7'  %>
                            <% if usuario_signed_in? %>
                                <%= link_to "Alquilar", alquiler_path(vehiculo), :class => 'btn btn-warning col-5'  %>
                            <% else %>
                                <%= link_to "Alquilar", new_usuario_session_path, :class => 'btn btn-warning col-5'  %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>   
        <% end %>
    </div>

    <% end %>

    <script>
        new Mapkick.Map("map", url);
    </script>
    
<% end %>


