<div class="w-50 p-4 justify-content-left">
  <h1>Medios de pago</h1>
</div>

<%= form_with url: '/billetera/agregar_tarjeta', method: :patch do |form| %>
    <%= form.label "Nombre:" %>
    <%= form.text_field :name %>
    <%= form.label "Digitos de la tarjeta:" %>
    <%= form.text_field :digits %>
    <%= form.submit "Agregar tarjeta" %>
  <% end %>  

<div class="row row-cols-1 row-cols-md-5 g-4 p-5">
<% Card.all.each do |tarjeta| %>     
    <div class="col">
        <div class="card h-100">
           <div class="card-body">
                <h5 class="card-title"><%= tarjeta.name %></h5>
                <p class="card-text">Tipo: <%= tarjeta.card_type %></p>
                <p class="card-text">Fecha de expiración: <%= tarjeta.exp_date %></p>
            </div>
        </div>
    </div>   
<% end %>
</div>

<p class="notice"><%= notice %></p>