<div class="w-50 p-4 justify-content-left">
  <h1>Bienvenido a tu billetera </h1>

  <p>Saldo actual: $<%= current_usuario.billetera.saldo %></p>

  <div class="cho-container">
  <%= form_with url: '/billetera/cargar_creditos', method: :patch do |form| %>
    <%= form.select :medio_de_pago, ["Elegir...", "Mercado Pago", "Uala", "Cuenta DNI"] %>
    <%= form.text_field :datos_cuenta %>
    <%= form.label :monto, "Cantidad de créditos a cargar:" %>
    <%= form.number_field :monto, value:1, min: 1, max: 500 %>
    <%= form.submit "Cargar creditos" %>
  <% end %>  

  </div>
  <script src="https://sdk.mercadopago.com/js/v2"></script>
  <script>
    const mp = new MercadoPago('TEST-7a3d0dd0-f726-4c4e-951d-d96c5c23c341');

    mp.checkout({
      preference: {
        id: '<%= @preference_id %>'
      },
      render: {
        container: '.cho-container',
        label: 'Cargar créditos',
        type: 'wallet',
      }
    });
  </script>


</div>