<div class="w-50 p-4 justify-content-left">
  <h1>Bienvenido a tu billetera </h1><%= current_usuario.fullname %>

  <%= current_usuario.billetera.saldo %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Medios de pago</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Elegir...</option>
      <option value="1">Mercado pago</option>
      <option value="2">Uala</option>
      <option value="3">Cuenta DNI</option>
    </select>
  </div>

  <%= form_with url: '/billetera/cargar_creditos', method: :patch do |form| %>
    <%= form.select :medio_de_pago, ["Elegir...", "Mercado Pago", "Uala", "Cuenta DNI"] %>
    <%= form.text_field :datos_cuenta %>
    <%= form.number_field :monto %>
    <%= form.submit "Cargar creditos" %>
  <% end %>  

</div>