<div class="formContainer w-100 p-4 d-flex justify-content-left">
    <%= form_for @usuario, html: {class:"col-12 col-md-5 p-5 rounded-2"} do |f| %>

        <h2 class="mb-4">Editar supervisor</h2>
        <%= render "devise/shared/error_messages", resource: @usuario %>
        <!--<%= f.hidden_field :reset_password_token %>-->

        <div class="field">
            <%= f.label :fullname, "Nombre completo" %>
            <%= f.text_field :fullname, class: "form-control my-2" %>
        </div>

        <div class="field">
            <%= f.label :dni, "Documento" %>
            <%= f.number_field :dni, class: "form-control mb-2" %>
        </div>

        <div class="field">
            <%= f.label :birthdate, "Fecha de nacimiento" %>
            <%= f.date_field :birthdate, class: "form-control mb-2" %>
        </div>

        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control mb-2" %>
        </div>

        <!--
        <div class="field">
            <%= f.label :password %> <i>(Deje en blanco si no quiere cambiarlo)</i><br />
           
            <% if @minimum_password_length %>   
                <em><%= @minimum_password_length %> characters minimum</em><br />
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        -->

        <p class="notice", style="color:#F5BF69;"><%= notice %></p>

        <div class="actions">
            <%= f.submit "Guardar cambios", :class=>"btn btn-outline-warning my-4" %>
        </div>
    <% end %>
</div>
