<div class="formContainer w-100 p-4 d-flex justify-content-center">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
  html: {class:"col-12 col-md-5 p-5 rounded-2 shadow"}) do |f| %>

    <h2>Registro</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :fullname, "Nombre completo" %>
      <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", required: true, class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :dni, "Dni" %>
      <%= f.number_field :dni, autofocus: true, autocomplete: "dni", required: true, class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :birthdate, "Fecha de nacimiento" %>
      <%= f.date_field :birthdate, selected: Date.today, max: Date.today, min: Date.new(Date.today.year-100, Date.today.month, Date.today.day), autofocus: true, autocomplete: "birthdate", required: true, class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :license, "Licencia de conducir" %>
      <%= f.file_field :license, autofocus: true, autocomplete: "license", required: true, class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :license_expiration_date, "Fecha de vencimiento de la licencia" %>
      <%= f.date_field :license_expiration_date, selected: Date.today, autofocus: true, autocomplete: "license_expiration_date", required: true, class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña" %>
      <% if @minimum_password_length %>
      <em>(Al menos <%= @minimum_password_length %> caracteres)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", required: true, class: "form-control mb-2" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar contraseña" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-control mb-2" %>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="form-check-input" required=true>
      <label class="form-check-label" for="gridCheck">Confirmo que he leído los <a class="link-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer"> Términos y condiciones</a> </label>
    </div>

    <div class="actions">
      <%= f.submit "Registrarse", :class=>"btn btn-outline-warning my-4"%>
    </div>

    <%= render "devise/shared/links" %>

  <% end %>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Términos y condiciones</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Texto con las reglas que serán parte de los términos y condiciones
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>