<div class="formContainer w-100 p-4 d-flex justify-content-center">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
  html: {class:"col-12 col-md-5 p-5 rounded-2 shadow"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <h2>Registro</h2>

    <div class="field">
      <%= f.label :fullname, "Nombre completo" %>
      <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", class: "form-control my-2"%>
    </div>

    <div class="field">
      <%= f.label :dni, "Documento" %>
      <%= f.number_field :dni, autofocus: true, autocomplete: "dni", class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :birthdate, "Fecha de nacimiento" %>
      <%= f.date_field :birthdate, autofocus: true, autocomplete: "birthdate", class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :license, "Licencia de conducir" %>
      <%= f.file_field :license, autofocus: true, autocomplete: "license", class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-2"%>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña" %>
      <% if @minimum_password_length %>
      <em>(Al menos <%= @minimum_password_length %> caracteres)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-2" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-2" %>
    </div>

    <div class="actions">
      <%= f.submit "Registrarse", :class=>"btn btn-outline-warning my-4"%>
    </div>

    <%= render "devise/shared/links" %>

  <% end %>

</div>
