<% if ((notice == "Vehiculo agregado satisfactoriamente")||(notice == "El vehiculo fue actualizado")||(notice == "Vehiculo eliminado satisfactoriamente")||(notice == "El vehiculo fue habilitado")||(notice == "El vehiculo fue deshabilitado")) %>
    <p class="notice alert alert-warning"><%= notice %></p>
<% end %>
<div class="p-4">
    <h2 class="mb-4">Vehículos</h2>
    <%= link_to "Agregar nuevo vehículo", new_vehiculo_path, :class => 'btn btn-warning'  %> 
</div>

<div class="row row-cols-1 row-cols-md-4 g-0 p-2 mb-5">
        <% @vehiculos.each do |vehiculo| %> 
                <div class="col g-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><%= vehiculo.brand %> <%= vehiculo.model %></h5>
                            <%= image_tag vehiculo.image, class: "col-12" if vehiculo.image.attached?%>
                            <div class="text-center row">
                                <%= link_to "Ver en detalle", vehiculo_path(vehiculo), method: :show, :class => 'btn btn-warning mt-3 mx-auto col-6'  %>
                                <%= link_to "Editar",  edit_vehiculo_path(vehiculo), :class => 'btn btn-warning mt-3 mx-auto col-4'  %>
                            </div>
                            <% if vehiculo.enable %>
                                <%= button_to "Deshabilitar vehículo", updateDisable_vehiculo_path(vehiculo), method: :patch, class: "btn btn-warning mt-3 col-12"%>
                            <% else %>
                                <%= button_to "Habilitar vehículo", updateEnable_vehiculo_path(vehiculo), method: :patch, class: "btn btn-warning mt-3 col-12"%>
                            <% end %>
                            <div class="my-2" id="disabledGeo" style="display: none">
                                <p><b>Dirección:</b> <%= vehiculo.address %></p>
                                <p><b>Coordenadas:</b> <a href="https://www.google.com/maps/search/?api=1&query=<%= vehiculo.latitude %>,<%= vehiculo.longitude %>" target="_blank"><%= vehiculo.latitude %> <%= vehiculo.longitude %></a></p>
                            </div>
                            <button type="button" class="btn btn-warning mt-3 col-12" onclick="showDiv()">Geolocalizar</button>
                            <button type="button" class="btn btn-warning mt-3 col-12" data-bs-toggle="modal" data-bs-target="#exampleModal_<%= vehiculo.id %>">Eliminar</button>
                        </div>
                    </div>
                </div>  

                <div class="modal fade" id="exampleModal_<%= vehiculo.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar <%= Vehiculo.find(vehiculo.id).brand %> <%= Vehiculo.find(vehiculo.id).model %></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Esta seguro que desea eliminar este vehículo?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <%= button_to "Eliminar", vehiculo_path(Vehiculo.find(vehiculo.id)), method: :delete, :class => 'btn btn-warning' %>
                        </div>
                        </div>
                    </div>
                </div> 
        <% end %>
 </div>

 <script>
    function showDiv(){
        document.getElementById('disabledGeo').style.display = "block";
    }
 </script>