<% if ((notice == "Vehiculo agregado satisfactoriamente")||("Vehiculo eliminado satisfactoriamente")) %>
    <p class="notice alert alert-warning"><%= notice %></p>
<% end %>
<div class="p-4">
    <h2 class="mb-4">Vehículos</h2>
    <%= link_to "Agregar nuevo vehículo", new_vehiculo_path, :class => 'btn btn-warning'  %>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4 p-5">
        <% Vehiculo.all.each do |vehiculo| %> 
                <div class="col">
                    <div class="card h-100">
                         <div class="card-body">
                            <h5 class="card-title"><%= vehiculo.brand %> <%= vehiculo.model %></h5>
                            <h5 class="card-body"><%= image_tag(vehiculo.image, height: '100', width: '100') %></h5>
                            <%= link_to "Ver en detalle", vehiculo_path(vehiculo), method: :show, :class => 'btn btn-warning mt-3'  %>
                            <%= link_to "Editar",  edit_vehiculo_path(vehiculo), :class => 'btn btn-warning mt-3'  %>
                            <%= button_to "Eliminar", vehiculo_path(vehiculo), method: :delete, :class => 'btn btn-warning mt-3' %>
                            </div>
                     </div>
                 </div>   
        <% end %>
 </div>