<% if ((notice == "Vehiculo agregado satisfactoriamente")||(notice == "Vehiculo eliminado satisfactoriamente")) %>
    <p class="notice alert alert-warning"><%= notice %></p>
<% end %>
<div class="p-4">
    <h2 class="mb-4">Vehículos</h2>
    <%= link_to "Agregar nuevo vehículo", new_vehiculo_path, :class => 'btn btn-warning'  %> 
</div>

<div class="row row-cols-1 row-cols-md-4 g-0 p-2 mb-5">
        <% Vehiculo.all.each do |vehiculo| %> 
                <div class="col g-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><%= vehiculo.brand %> <%= vehiculo.model %></h5>
                            <%= image_tag vehiculo.image, class: "col-12" if vehiculo.image.attached?%>
                            <div class="text-center row">
                                <%= link_to "Ver en detalle", vehiculo_path(vehiculo), method: :show, :class => 'btn btn-warning mt-3 mx-auto col-6'  %>
                                <%= link_to "Editar",  edit_vehiculo_path(vehiculo), :class => 'btn btn-warning mt-3 mx-auto col-4'  %>
                            </div>
                            <%= button_to "Eliminar", vehiculo_path(vehiculo), method: :delete, :class => 'btn btn-warning mt-3 col-12' %>
                        </div>
                    </div>
                </div>   
        <% end %>
 </div>