<div class="p-4">
    <h2>Alquiler en curso</h2>
    <div>Tiempo restante: <span id="time">--:--:--</span></div>
    <div><p id="disable_text" style="color:red"></span></div>
    <button id="disable" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancelar alquiler</button>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal2">Finalizar alquiler</button>
</div>

<div class="w-100 p-4 d-flex justify-content-left">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <%= image_tag @vehiculo.image, class: "img-fluid rounded-start" if @vehiculo.image.attached?%>
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Resumen del vehículo</h5>
                <div class="row mt-4">
                    <p class="card-text col-4"><b>Marca: </b><%= @vehiculo.brand %></p>
                    <p class="card-text col-4"><b>Modelo: </b><%= @vehiculo.model %></p>
                    <p class="card-text col-4"><b>Patente: </b><%= @vehiculo.license_plate %></p>
                    <p class="card-text col-4"><b>Color: </b><%= @vehiculo.color %></p>
                    <p class="card-text col-4"><b>Tipo de combustible: </b><%= @vehiculo.fuel_type %></p>
                    <p class="card-text col-4"><b>Capacidad: </b><%= @vehiculo.capacity %></p>
                    <p class="card-text col-4"><b>Tipo de transmision: </b><%= @vehiculo.transmission %></p>
                    <p class="card-text col-4"><b>Proximidad: </b><%= @vehiculo.proximity %>m</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro que desea cancelar el alquiler?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Se le devolverá su dinero, pero no podrá alquilar un vehículo hasta dentro de 3 horas.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <%= button_to "Cancelar alquiler", alquiler_path(@alquiler.vehicle_id), method: :delete, class: "btn btn-danger" %>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro que desea finalizar el alquiler?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Será redirigido a la página principal.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <%= link_to "Finalizar alquiler", finished_alquiler_path, :class => 'btn btn-warning'  %>
        </div>
        </div>
    </div>
</div>


<script>
    function startTimer(duration, display, limit) {
        var timer = duration, hours, minutes, seconds;
        setInterval(function () {
            hours = parseInt(timer / 60 / 60, 10)
            minutes = parseInt(timer / 60 % 60 , 10)
            seconds = parseInt(timer % 60, 10);

            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = hours + ":" + minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }

            console.log(timer);
            console.log(limit);

            if (timer < limit){
                document.querySelector('#disable').disabled = true;
                document.querySelector('#disable_text').textContent = "No es posible cancelar, han pasado 10 minutos"
            }


        }, 1000);
    }

    window.onload = function () {
        var timeRemaining = '<%= (@alquiler.created_at + @alquiler.hours.hours) - Time.now %>',
            display = document.querySelector('#time'),
            limit = ('<%= @alquiler.hours %>' * 60 * 60) - 600;
        startTimer(timeRemaining, display, limit);
    };
</script>