<div class="formContainer w-100 p-4 d-flex justify-content-left">
    <%= form_for @usuario, url: usuario_path(@usuario), html: {class:"col-12 col-md-5 p-5 rounded-2"} do |f| %>

        <h2 class="mb-4">Detalles del usuario</h2>

        <div class="field">
            <%= f.label :fullname, "Nombre completo" %>
            <%= f.text_field :fullname, class: "form-control mb-2", :readonly => true%>
        </div>

        <div class="field">
            <%= f.label :dni, "Dni" %>
            <%= f.number_field :dni, class: "form-control mb-2", :readonly => true%>
        </div>

        <div class="field">
            <%= f.label :birthdate, "Fecha de nacimiento" %>
            <%= f.date_field :birthdate, class: "form-control mb-2", :readonly => true %>
        </div>

        <div class="field">
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, class: "form-control mb-2", :readonly => true %>
        </div>

        <div class="field">
            <%= f.label :license, "Licencia de conducir" %>
            <%= image_tag @usuario.license, class: "img-thumbnail col-12" if @usuario.license.attached?%>
        </div>

        <div class="mt-4">
            <% if @usuario.valid_license %>
                <p>Estado de la licencia de conducir: Aceptado</p>
            <% else %>
                <p>Estado de la licencia de conducir: No aceptado</p>
                <%= link_to "Aceptar licencia", root_path, :value => "less", class: "btn btn-warning"%>
            <% end %>
        </div>
    <% end %>
</div>