<div class="w-100 p-4 d-flex justify-content-left col-6">
    <%= form_for @usuario, url: usuario_path(@usuario), html: {class:"col-12 col-md-5 p-5 rounded-2"} do |f| %>

        <h2 class="mb-4">Detalles del usuario</h2>

        <div class="field">
            <%= f.label :fullname, "Nombre completo" %>
            <%= f.text_field :fullname, class: "form-control mb-2", :readonly => true%>
        </div>

        <div class="field">
            <%= f.label :dni, "Dni" %>
            <%= f.number_field :dni, class: "form-control mb-2", :readonly => true%>
        </div>

        <div class="field">
            <%= f.label :birthdate, "Fecha de nacimiento" %>
            <%= f.date_field :birthdate, class: "form-control mb-2", :readonly => true %>
        </div>

        <div class="field">
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, class: "form-control mb-2", :readonly => true %>
        </div>

        <div class="field">
            <%= f.label :license, "Licencia de conducir" %>
            <%= image_tag @usuario.license, class: "img-thumbnail col-12" if @usuario.license.attached?%>
        </div>

        <div class="field">
            <%= f.label :license_expiration_date, "Fecha de vencimiento de la licencia" %>
            <%= f.date_field :license_expiration_date, class: "form-control mb-2", :readonly => true %>
        </div>

        <div class="mt-4">
            <% if @usuario.valid_license %>
                <p>Estado de la licencia de conducir: Aceptado</p>
            <% else %>
                <p>Estado de la licencia de conducir: No aceptado</p>
                <%= link_to "Aceptar licencia", license_validated_usuario_path(@usuario), class: "btn btn-warning"%>
            <% end %>
        </div>

        <div class="mt-4">
            <% if (@usuario.validated?) %>
                <p>Estado de confirmación de la cuenta: Validada</p>
            <% else %>
                <p>Estado de confirmación de la cuenta: Sin Validar</p>
                <%= link_to "Validar cuenta", account_validated_usuario_path(@usuario), class: "btn btn-warning",params: {id: @usuario.id}%>
                <%= button_to "Rechazar cuenta", usuario_path(@usuario), method: :delete, class: "btn btn-warning",params: {id: @usuario.id}%>
                <% end %>
        </div>


        <div class="mt-4">
            <% if @usuario.access_locked? %>
                <p>Estado de la cuenta del usuario: Bloqueada</p>
                <%= link_to "Desbloquear", ban_usuario_path(@usuario), class: "btn btn-warning"%>
            <% else %>
                <p>Estado de la cuenta del usuario: No bloqueada</p>
                <%= link_to "Bloquear", ban_usuario_path(@usuario), class: "btn btn-warning"%>
            <% end %>
        </div>
    <% end %>
</div>

<div class="px-4">
    <h4>Historial de alquileres del usuario</h4>
</div>
<div class="row row-cols-1 row-cols-md-4 g-0 p-3 mb-5">
        <% Alquiler.where(user_id: @usuario.id).all.reverse_each do |alqui| %> 
                <div class="col g-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><%= Vehiculo.where(id: alqui.vehicle_id)[0].brand %> <%= Vehiculo.where(id: alqui.vehicle_id)[0].model %></h5>
                            <%= image_tag Vehiculo.where(id: alqui.vehicle_id)[0].image, class: "col-12" if Vehiculo.where(id: alqui.vehicle_id)[0].image.attached?%>
                            <p class="card-text mb-0"><b>Estado del alquiler:</b> <%= alqui.status %> </p>
                            <p class="card-text my-0"><b>Horas alquiladas:</b> <%= alqui.hours %> </p>
                            <% if alqui.status == "cancelado" %>
                                <p class="card-text my-0"><b>Costo del alquiler:</b> $0 </p>
                            <% else %>
                                <p class="card-text my-0"><b>Costo del alquiler:</b> $<%= alqui.hours*200 %> </p>
                            <% end %>
                            <p class="card-text my-0"><b>Inicio de alquiler:</b> <%= alqui.created_at.time %> </p>
                            <p class="card-text mt-0"><b>Final de alquiler:</b> <%= alqui.updated_at.time %> </p>
                        </div>
                    </div>
                </div>  
        <% end %>
</div>