<!DOCTYPE html>
<html>
  <head>
    <title>AlquilApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Clases notice y alert requeridas para devise
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>-->

      <nav class="navbar navbar-expand-md bg-white navbar-light p-3">
        <div class="site-logo">
            <img src="../../../assets/AlquilappLogo.svg" alt="Logo">
        </div>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
            <div class="togglerPadding pt-4"></div>
            <ul class="nav align-items-center justify-content-center">
            <li class="nav-item">
                <%= link_to "Inicio", root_path, class: "nav-link"  %>
            </li>
            <% if (usuario_signed_in?)%>
              <% if (current_usuario.cliente?) %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%=  current_usuario.fullname %></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><%= link_to "Mi perfil", perfil_mi_perfil_path, class: "dropdown-item" %></li>
                        <li><%= link_to "Ver mi billetera", billetera_mi_billetera_path,:class => 'dropdown-item' %></li>
                        <li><%= link_to "Ver mi estado", estado_mi_estado_path,:class => 'dropdown-item' %></li>
                        <li><%= button_to "Cerrar sesion", destroy_usuario_session_path, method: :delete, :class => 'dropdown-item'  %></li>
                    </ul>
                </li>
              <% else %>
                <% if (current_usuario.supervisor?) %>
                  <li class="nav-item"><%= link_to "Vehículos", vehiculos_path, class: "nav-link"  %></li>
                  <li class="nav-item"><%= link_to "Reportes", reports_path(current_usuario), class: "nav-link"  %></li>
                  <li class="nav-item"><%= button_to "Cerrar sesion", destroy_usuario_session_path, method: :delete, :class => 'btn btn-warning'  %></li>
                <% else %>
                  <li class="nav-item"><%= button_to "Cerrar sesion", destroy_usuario_session_path, method: :delete, :class => 'btn btn-warning'  %></li>
                <% end %>
              <% end %>
            </ul>
            <%else %>
              <li class="nav-item">
                <%= button_to "Ingresar", new_usuario_session_path, method: :get, :class => 'btn btn-warning'   %>
              </li>
            <% end %>
        
            </div>
        </div>
      </nav>
    

    <%= yield %>
    
  </body>
</html>
